@import "../../responsive.scss";
.NavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100px;
  background-color: white;
}
.left {
  display: flex;
  flex: 3;
  //   justify-content: center;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
  }
  .logo {
    display: flex;
    align-items: center;
    @include md {
      margin-left: 10px;
    }
  }
  .logo span {
    margin-left: 10px;
    font-size: 19px;
    font-weight: bolder;
    @include md {
      display: none;
    }
  }

  .navlinks {
    display: flex;
    gap: 40px;
    margin-left: 70px;
    @include md {
      gap: 25px;
      margin-left: 20px;
      margin-right: 40px;
    }
    @include sm {
      display: none;
    }
  }
}
.right {
  background-color: #fcf5f3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
  gap: 20px;
  height: 100%;
  @include md {
    gap: 2px;
    background-color: white;
  }
  .profButton {
    padding: 10px;
    background-color: rgb(255, 221, 0);
    border-radius: 5px;
    @include sm {
      display: none;
    }
    @include md{
      margin: 30px;
      padding: 10px 20px
    }
  }
  .menuIcon {
    position: relative;
    display: none;
    img {
    position: relative;
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      z-index: 999;
      // position: absolute;
    }

    @include sm {
      display: block;
    }
  }
  .drawer{
    display: none;
  }
  @include sm {
    // display: initial;
    .drawer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 65px;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: -50%;
      width: 50%;
      height: 100vh;
      background-color: black;
      transition: all 0.5s ease-out;
      
    }
    .active {
      // display:inline;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 65px;
      flex-direction: column;
      
       position: absolute;
      top: 0;
      right: 0;
       width: 50%;
      height: 100vh;
      background-color: black;
      color: white;
      z-index: 1;
      ;
    }
  }
}
.profImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  img {
    height: 50px;
    width: 50px;
  }
  @include md {
    gap: 5px;
  }
}
